#contactLinks{
    width: 55%;
}

.textTitle{
    font-family: monserrat-medium;
    font-size: 2rem;
}

.contactText{
    font-family: futura-medium;
    font-size: 1.5rem;
    width: 60%;
}

.imageGwirid{
    margin-left: 2vw;
    margin-right: 2vw;
}

.halfWidthContent{
    width: 50%;
}

.imageWidht{
    width: 32vw;
}

.whiteText{
    color: white;
}

.designFont{
    font-family: monserrat-medium;
    font-size: 1.4rem;
}

.horizontalLeftLayout{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.horizontalRightLayout{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.blueContent{
    background: #284B59;
    height: auto;
    width: 48vw;
}

.halfHeight{
    height: 50%;
}

/*REMOVE ME*/

.blueBg{
    background: #284B59;
    height: 500px;
    width: 90%;
}