#blueContentContactLinks{
    width: 55%;
    margin-bottom: 3rem;
}

.textTitle{
    font-family: monserrat-medium;
    font-size: 2rem;
}

.contactText{
    font-family: futura-medium;
    font-size: 1.5rem;
    width: 60%;
}

.oneThirdWidth{
    width: 33%;
}

.halfWidthContent{
    width: 50%;
}

.smallerImageWidth{
    width: 28vw;
}

.whiteText{
    color: white;
}

.designFont{
    font-family: monserrat-medium;
    font-size: 1.4rem;
}

.linkImage{
    width: 90%;
}

.horizontalLeftLayout{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.horizontalRightLayout{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#blueContentTitle{
    font-family: monserrat-medium;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 3rem;
}

#blueContent{
    background: #284B59;
    height: 36rem;
    width: 50%;
}

.halfHeight{
    height: 50%;
}

.contentPaddingTop{
    padding-top: 2rem;
}

.contentTriplePaddingTop{
    padding-top: 6rem;
}

.contentPaddingBottom{
    padding-bottom: 5rem;
}

.littleMarginBottom{
    margin-bottom: 3rem;
}

#profileImageLayout{
    width: 40%;
}

#profileImage{
    width: 80%;
    margin-bottom: -2rem;
}

#aboutMeLayout{
    width: 60%;
}

#aboutMeLayoutContent{
    width: 90%;
}

/*REMOVE ME*/

.blueBg{
    background: #284B59;
    height: 500px;
    width: 90%;
}