.horizontalSpaceEvenlyLayout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.verticalCenterLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textTitle{
    font-family: monserrat-medium;
    font-size: 2rem;
}

.halfWidthContent{
    width: 40%;
}

.gridLayout{
    display: grid;
}

.imageWidht{
    width: 33vw;
}

.gridText{

}



.horizontalLeftLayout{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.horizontalCenterLayout{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.horizontalRightLayout{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

/*REMOVE ME*/

.blueBg{
    background: #284B59;
    height: 500px;

}