.textbody{
    width: 40%;
    text-align: left;
}

#chanelImg{
    width:40vw;
}

@media screen and (max-width: 512px) {
    .textbody{
        width: 80%;
    }

    #chanelImg{
        width: 80vw;
    }
 }

@media screen and (min-width: 513px) and (max-width:1023px){
    .textbody{
        width: 80%;
    }

    #chanelImg{
        width: 65vw;
    }
}

@media screen and (min-width:1025px){
    #chanelImg{
        margin-right: 2rem;
    }
}
