@font-face{
    src:url("./../fonts/Montserrat-Regular.ttf");
    font-family: montserrat-regular;
}

@font-face{
    src:url("./../fonts/Montserrat-Medium.ttf");
    font-family: montserrat-medium;
}

@font-face{
    src: url("./../fonts/Montserrat-Bold.ttf");
    font-family: montserrat-bold;
}

@font-face{
    src:url("./../fonts/futura\ medium\ bt.ttf");
    font-family: futura-medium;
}
@font-face{
    src:url("./../fonts/FuturaPTLight.otf");
    font-family: futura-light;
}

.montserratMedium{
    font-family: montserrat-medium;
}

* {
    box-sizing: border-box;
}

img{
    height: auto;
}

h1{
    font-family: montserrat-regular;
    font-size: 1.6rem;
    text-transform: uppercase;
}

h2{
    font-family: futura-light;
    font-size: 2rem;
    font-weight: lighter;
}

h3{
    font-family: futura-light;
    font-size: 3rem;
}

h4{
    font-family: montserrat-regular;
    font-size: 1rem;
    margin-left: 3rem;
    
}

h5{
    font-family: futura-light;
    font-size: 1.4rem;
    font-weight: lighter;
}

footer{
    background-color: #f2f2f2;
}

#footerMainContent{
    height: 8rem;
    font-family: montserrat-medium;
    font-size: 1.3rem;
    font-weight: bold;
    color: #5b5b5b;
}

#footerContactMeText{
    font-size: 1.1rem;
}

#footerClauNameText{
    min-width: 40%;
    text-transform: uppercase;
    text-align: right;
}

#footerCopyright{
    height: 2rem;
}

.grayBackground{
    background-color: #f2f2f2;
}

.footerImage{
    width: 90%;
}


li{
    font-family: futura-medium;
    list-style: none;
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

#headerLayout{
    display:flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top:2.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

#menu ul{
    display:flex;
    justify-content: space-between;
    align-self: center;
}

#hamburgerBtn{
    display:none;
}

#hamburgerMenuContent{
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-top: -1.5rem;
}

#hamburgerMenuContent a{
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: futura-medium;
}

#hamburgerMenuContent a:hover {
    background-color: white;
}

.centerTextVertically{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragraphText{
    font-family: futura-light;
    font-size: 1.7rem;
    font-weight: lighter;
}

.boldText{
    font-weight: bold;
}

.smallSpace{
    height: 1rem;
}


.textRight{
    text-align: right;
}

.textCenter{
    text-align: center;
}

.maxHeight{
    height: 100%;
}

.maxWidth{
    width: 100%;
}

.halfWidth{
    width: 50%;
}

.minHalfWidth{
    min-width: 50%;
}

.maxHalfWidth{
    max-width: 50%;
}

.marginBottom2Rem{
    margin-bottom: 2rem;
}

.frontContent{
    z-index: 1;
}

#footerLinksContent{
    min-width: 50%;
}

#footerLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.languageButton{
    padding: 0.75rem;
    cursor: pointer;
    font-family: montserrat-regular;
}

.activeLanguage{
    font-family: montserrat-medium;
}

.hidden{
    display: none;
}


/*PROJECTS TEMPLATE*/
.projectTitle{
    font-family: montserrat-medium;
    font-size: 2rem;
    text-transform: uppercase;
}

.projectTextAndPhotoWidth{
    width: 90%;
}

.projectRightLogoMarginLeft{
    margin-left:0.5rem;
}

/*FLEX HORIZONTAL*/

.horizontalSpaceEvenlyLayout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.horizontalSpaceBetweenLayout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontalCenterLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.horizontalRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

/*FLEX VERTICAL*/


.verticalCenterLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.verticalSpaceBetweenLayout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.verticalSpaceEvenlyLayout{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.verticalRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
}


/*WRAP*/

.wrapContent{
    flex-wrap: wrap;
}

/*Flex Items*/

.alignFlexItemsLeft{
    align-items: flex-start;
}

.alignFlexItemsCenter{
    align-items: center;
}

.alignFlexItemsRight{
    align-items: flex-end;
}

/**/

.alignFlexChildCenter{
    align-self: center;
}



@media screen and (max-width: 375px){
    .maxBodyWidth{
        width: 320px;
    }

    #footerMainContent{
        width: 320px;
    }

    #footerClauNameText{
        text-align: left;
        font-size: 0.75rem;
    }

    #footerLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #footerContactMeText{
        font-size: 0.8rem;
        width: 80%;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    .footerLinkImage{
        width: 20%;
    }

    .responsiveImageContainer{
        width: 100%;
        margin:auto;
    }

    .paragraphText{
        font-size: 1.4rem;
    }

    .projectSubtitle {
        font-size: 1.7rem;
    }

    .projectTitle{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px){
    .maxBodyWidth{
        width: 375px;
    }

    #footerMainContent{
        width: 375px;
    }

    #footerClauNameText{
        text-align: left;
        font-size: 0.8rem;
    }

    #footerLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #footerContactMeText{
        width: 80%;
        text-align: left;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .footerLinkImage{
        width: 20%;
    }

    .responsiveImageContainer{
        width: 100%;
        margin:auto;
    }

    .paragraphText{
        font-size: 1.4rem;
    }

    .projectSubtitle {
        font-size: 1.7rem;
    }

    .projectTitle{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .maxBodyWidth{
        width: 425px;
    }

    #footerMainContent{
        width: 425px;
    }

    #footerClauNameText{
        text-align: left;
        font-size: 1rem;
    }

    #footerLinksContent{
        width: 80%;
        text-align: left;
    }

    #footerLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #footerContactMeText{
        width: 65%;
        text-align: left;
        margin-bottom: 0.5rem;

    }

    .footerLinkImage{
        width: 20%;
    }

    .responsiveImageContainer{
        width: 100%;
        margin:auto;
    }

    .paragraphText{
        font-size: 1.4rem;
    }

    .projectSubtitle {
        font-size: 1.7rem;
    }

    .projectTitle{
        font-size: 1.5rem;
    }
   
}

@media screen and (max-width: 512px) {
    #headerLayout{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    h1{
        font-size: 1.2rem;
        margin-left: 0;
    }

    #subHeader{
        font-size: 0.7rem;
        margin-left: 1.5rem;
    }
    
    #menu{
        display:none;
    }
 
    #hamburgerBtn{
        display:block;
        width: 5.5vw;
    }

    .responsiveImageContainer{
        width: 100%;
        margin:auto;
    }

    .paragraphText{
        font-size: 1.4rem;
    }

    .projectSubtitle {
        font-size: 1.7rem;
    }

    .projectTitle{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .maxBodyWidth{
        width: 768px;
    }

    #footerMainContent{
        width: 768px;
    }

    #footerLinks{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #hamburgerMenuContent{
        display: none;
    }

    .responsiveImageContainer{
        width: 100%;
        margin:auto;
    }

    .paragraphText{
        font-size: 1.4rem;
    }

    .projectSubtitle {
        font-size: 1.7rem;
    }

    .projectTitle{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .maxBodyWidth{
        width: 1024px;
    }

    #footerMainContent{
        width: 1024px;
    }

    #hamburgerMenuContent{
        display: none;
    }
}

@media screen and (min-width: 1441px) {
    .maxBodyWidth{
        width: 1440px;
    }

    #footerMainContent{
        width: 1440px;
    }

    #hamburgerMenuContent{
        display: none;
    }
}




