.textbody{
    width: 40%;
    text-align: left;
}

#cooltura{
    width:50vw;
    
}

.logo2{
    margin-left:0.5rem;
}


@media screen and (max-width: 512px) {
    
    .textbody{
        width: 80%;
    }

    #cooltura{
        width: 80vw;
    }


 }

 @media screen and (min-width: 513px) and (max-width:1023px){
    .textbody{
        width: 80%;

    }

    #cooltura{
        width: 65vw;
    }


 }