.textbody{
    width: 40%;
    text-align: left;
}

#coolturaImg{
    width:50vw;
    
}

@media screen and (max-width: 512px) {
    
    .textbody{
        width: 80%;
    }

    #coolturaImg{
        width: 80vw;
    }
}

 @media screen and (min-width: 513px) and (max-width:1023px){
    .textbody{
        width: 80%;

    }

    #coolturaImg{
        width: 65vw;
    }
}