#dailyUiImg{
    width:40%;
}

.textbody{
    width: 50%;
}

.pageWidth{
    max-width: 1440px;
}

.dailyUiImgDiv{
    width: 33%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.dailyUiImgWidth{
    width: 90%;
}

.dailyUiImg{
    object-fit: contain;

}

#dailyUiBody{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#description{
    width: 80%;
}


@media screen and (max-width: 676px) {
    .dailyUiImgDiv{
        width: 50%;
    }
}