#dailyUiImg{
    width:40%;
}

.textbody{
    width: 50%;
}

.dailyUiImgDiv{
    width: 33%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.dailyUiImgWidth{
    width: 90%;
}

.dailyUiImg{
    object-fit: contain;

}

#dailyUiBody{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#description{
    width: 80%;
}


@media screen and (max-width: 767px) {

    #description{
        width: auto;
    }

    .dailyUiImgDiv{
        width: 50%;
    }

    #pictureAndTextContent{
        flex-direction: column;
        align-items: center;
    }

    .textbody{
        width: 90%;
    }

    #dailyUiImg{
        margin-top: -8%;
        width: 70%;
    }

    .overlayBlackText{
        font-size: 0.9rem;
    }

}