#photoContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.showWhenTwoColumns{
    display:none;
}

.leftAndRightColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;

}

#centerColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;

}

.marginLeft{
    margin-left:1.5rem;
}

.image{
    width: 28rem;
    margin-bottom: 1.5rem;
}



/*MEDIA*/

@media screen and (max-width: 512px) {

    .image{
        width:100vw;
    }
    
    #photoContainer{
        justify-content: center;
    }
 
    .noMarginWhenOneColumn{
        margin-left:0;
    }

 }
 
 
 @media screen and (min-width: 580px) and (max-width: 919px) {
    
    .image{
        width: 35rem;
    }
 
    .noMarginWhenOneColumn{
        margin-left:0;
    }
 }

 @media screen and (min-width: 920px) and (max-width: 1391px) {
    
    .image{
        width: 35rem;
    }

    .noMarginWhenTwoColumn{
        margin-left:0;
    }

    .hideWhenTwoColumns {
        display: none;
    }

    .showWhenTwoColumns{
        display: initial;
    }
}