.showWhenTwoColumns{
    display:none;
}

.imagesContainerWidth{
    width: 31%;
}

#imageContainerWrapper{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.leftAndRightColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;

}

#centerColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;

}

.image{
    width: 100%;
    margin-bottom: 1.5rem;
}



/*MEDIA*/
/*MOBILE*/
@media screen and (max-width: 767px) {

    .imagesContainerWidth{
        width: 100%;
    }

    #imageContainerWrapper{
        flex-direction: column;
    }
 }

 /*TABLET*/
 @media screen and (min-width: 768px) and (max-width: 1023px) {

    .imagesContainerWidth{
        width: 50%;
    }

    .hideWhenTwoColumns {
        display: none;
    }

    .showWhenTwoColumns{
        display: initial;
    }
}