.textbody{
    width: 40%;
    text-align: left;
}

#jmcImg{
    width:40vw;
}

@media screen and (max-width: 512px) {
    
    .textbody{
        width: 80%;
    }

    #jmcImg{
        width: 80vw;
    }
}

 @media screen and (min-width: 513px) and (max-width:1023px){
    .textbody{
        width: 80%;
    }

    #jmcImg{
        width: 65vw;
    }
}

@media screen and (min-width:1025px){
    #jmcImg{
        margin-right: 4rem;
    }

}
