#kubeImg{
    width:52vw;
}

.textbody{
    width: 40%;
    text-align: left;
}


@media screen and (max-width: 512px) {
    
    .textbody{
        width: 80%;
    }

    #kubeImg{
        width: 80vw;
    }
}

 @media screen and (min-width: 513px) and (max-width:1023px){
    .textbody{
        width: 80%;
    }

    #kubeImg{
        width: 65vw;
    }
}