
@media screen and (max-width: 512px) {
    h1{
        font-size: 1rem;
     
    }
    h4{
        font-size: 0.7rem;
    }
    #HeaderLayout{
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        /* margin-right:-4rem; */
        margin-left:3rem;
        width:85%;
    }
    
    li{
        display:none;
    }
    .menuHamburguesa{
         display:block;
         width: 5.5vw;
     
     }
 
    img{
         width: 100%;
         height: 100%;
     }
    .image{
         width:100vw;
     }
     #photoContainer{
         justify-content: center;
     }
 
     .noMarginWhenOneColumn{
         margin-left:0;
     }
 }
 
 @media screen and (min-width: 513px) and (max-width: 579px) {
     .image{
         width: 30rem;
     }
 
     .noMarginWhenOneColumn{
         margin-left:0;
     }
    
    h4{
        font-size: 0.7rem;
    }
 }
 
 @media screen and (min-width: 580px) and (max-width: 919px) {
     .image{
         width: 35rem;
     }
 
     .noMarginWhenOneColumn{
         margin-left:0;
     }
     h4{
        font-size: 0.7rem;
    }
 }

 @media screen and (min-width: 920px) and (max-width: 1391px) {
    .image{
        width: 35rem;
    }

    .noMarginWhenTwoColumn{
        margin-left:0;
    }

    .hideWhenTwoColumns {
        display: none;
    }

    .showWhenTwoColumns{
        display: initial;
    }
}