@font-face{
    src:url("../fonts/Montserrat-Regular.ttf");
    font-family: monserrat-regular;
}
@font-face{
    src:url("../fonts/futura\ medium\ bt.ttf");
    font-family: futura-medium;
}
* {
    box-sizing: border-box;
}
body{
    max-width: 1600;
}
h1{
    font-family: monserrat-regular;
    font-size: 1.6rem;
    text-transform: uppercase;
}

h4{
    font-family: monserrat-regular;
    font-size: 1rem;
    margin-left: 3rem;
    
}

li{
    font-family: futura-medium;
    list-style: none;
    padding-left: 20px;
}

#headerLayout{
    display:flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top:2.5rem;
    margin-bottom: 1.5rem;
}
#menu{
    display:flex;
    justify-content: space-between;
    align-self: center;
}

.centerTextVertically{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.menuHamburguesa{
    display:none;
}

#photoContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.showWhenTwoColumns{
    display:none;
}

.leftAndRightColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;

}
#centerColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;

}
.marginLeft{
    margin-left:1.5rem;
}

.relative{
    position: relative;
}

.image{
    width: 28rem;
    margin-bottom: 1.5rem;
}




