.textTables{
    font-family: montserrat-medium;
    font-size: 2rem;
    text-transform: uppercase;
}

#textPhoto{
    flex-wrap: wrap;
    width: 90%;
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.textbody{
    width: 40%;
    text-align: left;
}

#tables{
    width:52vw;
    
}

.logo2{
    margin-left:0.5rem;
}


@media screen and (max-width: 512px) {
    
    .textbody{
        width: 80%;
    }

    #tables{
        width: 80vw;
    }


 }

 @media screen and (min-width: 513px) and (max-width:1023px){
    .textbody{
        width: 80%;

    }

    #tables{
        width: 65vw;
    }


 }