.textbody{
    width: 40%;
    text-align: left;
}

#tablesImg{
    width:50vw;
}


@media screen and (max-width: 512px) {
    
    .textbody{
        width: 80%;
    }

    #tablesImg{
        width: 80vw;
    }
}

 @media screen and (min-width: 513px) and (max-width:1023px){
    .textbody{
        width: 80%;

    }

    #tablesImg{
        width: 65vw;
    }
}

@media screen and (min-width:1025px){
    #tablesImg{
        margin-right: 4rem;
    }
}